@import url('https://fonts.googleapis.com/css?family=Niconne');
#final_r{
    display: block;
    text-shadow: 2px 2px 10px white;
    margin-top: 200px;
    text-align: center;
    font-size: 80px;
   font-family: 'Niconne', cursive;
    color: white;
    margin-bottom: 100px;
}

#final_r:first-letter {
    text-transform:capitalize;
}

