<html>
<head>
    <style>
       @import url('https://fonts.googleapis.com/css?family=Niconne');
        body{
            background: #396afc;
        }
        p{text-align: center;
           font-family: 'Niconne', cursive;
            color: white;
            font-size: 30px;
        }
    </style>
<title>Instructions</title>
    </head>
    <body>
        <p style="text-align: center;font-size: 25px;"><u>Stage:1</u></p>
        <p>1.guss any name dont tell to me </p>
        <p style="font-size:25px;color: burlywood;">*note:try to think like single names ex:shiva,naresh,krishna etc., dont think like ex:mahesh babu,salman khan etc., which name contain Space between </p>
        <p>2.select row in which is frist letter of your name </p>
        <p>3.then select anthor row which is Secound letter of your word</p>
        <p>4.do same pattran untill end of your word lettters</p>
        <p>5.you can see right side what row you are selceting and that circle reprasent you selcted this row </p>
        <p>5.click the next button after completing all letters in your word</p>
        <p style="text-align: center;font-size: 25px"><u>Stage:2</u></p>
        <p>6.follow same 2,3,4,5 steps again and this is final step</p>
        <p>7.click getname button below </p>
        <p>then you get your name</p>
        
    
    </body>
</html>