<!DOCTYPE html>
<html lang="en" >

<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>Sign up</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <script  src="{% static 'js/signup.js' %}"></script>
      <link rel="stylesheet" href="{% static 'css/singup_styles.css' %}">


</head>

<body>

  <div class="user">
    <header class="user__header">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg" alt="" />
        <h1 class="user__title">{{ info }}</h1>
    </header>

    <form class="form" action="{% url 'signup_success' %} " method="">{% csrf_token %}
        <div class="form__group">
            <input type="text" name="username" placeholder="Username" class="form__input" />
        </div>

        <div class="form__group">
            <input type="email" name="email" placeholder="Email" class="form__input" />
        </div>
		<div class="form__group">
            <input type="text" name="mobile_number" placeholder="mobile number" class="form__input" />
        </div>

        <div class="form__group">
            <input type="password" name="password" placeholder="Password" class="form__input" />
        </div>

        <button type="submit" class="btn" type="button">SignUp Here</button>
    </form>
    <a href="{% url 'signin' %}"><h1 class="user__title">Sign-in</h1></a>
</div>








</body>

</html>
